<!DOCTYPE html>
<html ng-app="npApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASP.NET Application</title>
        @*@Styles.Render("~/Content/css")*@

    </head>
    <body>
        @RenderPage("~/app/src/Layout/Header/Header.cshtml")
        
        <main>
            <div ng-view>
                @RenderBody()
            </div>
        </main>
        
        @RenderPage("~/app/src/Layout/Footer/Footer.cshtml")
    
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @*@RenderSection("scripts", required: false)*@
    </body>
</html>
