<!DOCTYPE html>
@*<html ng-app="np">*@
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASP.NET Application</title>
        @*@Styles.Render("~/Content/css")*@
        <base href="/"/>
    </head>
    <body>
        @RenderPage("~/app/src/Layout/Header/Header.cshtml")
        
        <main>
            <div ui-view>
                @RenderBody()
            </div>
        </main>
        
        @RenderPage("~/app/src/Layout/Footer/Footer.cshtml")
    
        @Scripts.Render("~/bundles/vendor-native")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/vendor-ng")
        @Scripts.Render("~/bundles/vendor-ng-min")
        @*@Scripts.Render("~/bundles/vendor-min")*@
        @Scripts.Render("~/bundles/app")
        @*@RenderSection("scripts", required: false)*@
        
        <script type="text/javascript">
            (function() {
                var srv = angular.injector(['ng', 'np.i18n']).get('Strings');
                srv.init()
                    .then(function () {
                        debugger;
                        angular.element(document).ready(function() {
                            angular.bootstrap(document, ['np']);
                        });
                    },
                    function() {
                        debugger;
                    });

            })();
        </script>

    </body>
</html>