<!DOCTYPE html>
@*<html ng-app="np">*@
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noir Pixel</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
        @Styles.Render("~/bundles/css")
        <base href="/"/>
    </head>
    <body>
        <div id="main-menu-target"></div>
        @{
            Response.WriteFile("~/app/src/auth/signin.html");
            Response.WriteFile("~/app/src/Layout/Header/header.html");
        }
        <main>
            <div ui-view>
                @RenderBody()
            </div>
        </main>

        @{ Response.WriteFile("~/app/src/Layout/Footer/footer.html"); }

        @Scripts.Render("~/bundles/vendor-native")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/vendor-ng")
        @Scripts.Render("~/bundles/vendor-ng-min")
        @*@Scripts.Render("~/bundles/vendor-min")*@
        @Scripts.Render("~/bundles/app")

        <script type="text/javascript">
            (function () {
                var srv = angular.injector(['ng', 'np.i18n']).get('Strings');
                srv.init()
                    .then(function () {
                            angular.element(document).ready(function () {
                                angular.bootstrap(document, ['np']);
                            });
                        },
                        function () {
                            alert("Sorry, something went wrong :(");
                        });

            })();
        </script>

    </body>

</html>